/*.elc
*.elc
ogpm-cache.el
.cask
/dist/
/README.org_archive
/.ecukes-failing-scenarios

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

*.el#
/.eask/
/build/
